<div 
    class="grid-stack-item" 
    gs-x="<%- widget.position.x %>" 
    gs-y="<%- widget.position.y %>"
    gs-w="<%- widget.position.w %>" 
    gs-h="<%- widget.position.h %>"
    data-data="<%- encodeURIComponent(JSON.stringify(widget)) %>"
    id="<%= widget.id %>"
>
    <div class="grid-stack-item-content">
        <button r-click="openEditWidget('<%= widget.id %>')">Edit widget</button>

        <p r-text="widgetTitle.value"><%= widget.title %></p>

        <% widget.actions.forEach(function(action) { %>
            <%- include('../../elements/Rbutton', {text:action, onClick:`onActionClick('${action}')`}); %>
        <% }); %> 
    </div>
    <dialog r-dialog="dialogRef" r-close="onModalClose()">
        <h2 r-text="'Edit widget : ' + widget.value.title"></h2>

         <form r-submit:prevent="editWidget()">
             <input type="text" r-model="widget.value.title" ></input>
             <button type="submit">Send</button>
        </form>
        <p r-text="editWidgetLoading.value"></p>
    </dialog>
    <script>
        window.R.add('Widget', '<%= widget.id %>')
    </script>
</div>

